*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-color: #320269;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora{
    background-color: #6E1ACE;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
}

.pantalla{
    grid-column: 1 / -1;
    background-color: #320269;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    
    margin-bottom:1rem;
    font-family: monospace;
    font-weight: 600;
}

.btn{
    background-color: #4D03A1;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #320269;
    color: white;
}

#cero{
    grid-column: span 2;
}

#igual{
    grid-row: span 2;
    background-color: #CA0B99;
}

#igual:hover{
    background-color: #7B075D;
}
